body {
    font-family: sans-serif;
    color: rgb(90, 90, 90);
}

#centertext {
    text-align: center;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#container1 {
    padding: 0px 150px 10px 150px;
}

#container2 {
    padding: 0px 25px 10px 25px;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 22px;
}

.tab {
    tab-size: 4;
    font-family: sans-serif;
    padding: 0px 0px 0px 0px;
}